@media (min-width: 282.98px) {
  .img {
    width: 90%;
    box-shadow: 0px 16px 10px black;
    border-radius: 4px;
    margin: 20px 0 20px 0;
  }
  p {
    font-size: 15px;
    height: auto;
  }

  .row {
    text-align: center;
  }
  #navHeader {
    text-align: start;
  }

  .logo {
    width: 60px;
  }
}
@media (min-width: 364.98px) {
  .img {
    width: 70%;
    box-shadow: 0px 0px 10px black;
    border-radius: 4px;
    margin: 30px 0 20px 0;
  }
  p {
    font-size: 17px;
  }

  .row {
    text-align: center;
  }
  #navHeader {
    text-align: start;
  }
  .logo {
    width: 70px;
  }
}

@media (min-width: 575px) {
  .img {
    width: 100%;
    box-shadow: 0px 0px 10px black;
    border-radius: 8px;
    margin: 30px 0 20px 0;
  }
  p {
    font-size: 20px;
  }

  .row {
    text-align: center;
  }
  #navHeader {
    text-align: start;
  }
}
@media (min-width: 767px) {
  .img {
    width: 90%;
    margin-top: 30px;
    box-shadow: 0px 0px 10px black;
    border-radius: 8px;
  }
  p {
    font-size: 17px;
  }
  #navHeader {
    text-align: start;
  }

  .row {
    padding-left: 5px;
  }
  #carousel {
    margin-left: 0px;
  }
}
@media (min-width: 991px) {
  .img {
    width: 80%;

    box-shadow: 0px 0px 10px black;
    border-radius: 4px;
    margin-top: 20px;
  }
  p {
    font-size: 17px;
    padding-bottom: 20px;
  }

  .row {
    text-align: center;
  }
}
@media (min-width: 1199px) {
  .img {
    width: 70%;
    box-shadow: 0px 0px 10px black;
    border-radius: 4px;
    margin-top: 20px;
  }
  p {
    font-size: 17px;
  }

  .row {
    text-align: center;
  }
}
@media (min-width: 1599px) {
  .img {
    width: 60%;
    box-shadow: 0px 5px 15px black;
    border-radius: 5px;
    margin-top: 20px;
  }
  p {
    font-size: 19px;
  }

  .row {
    text-align: center;
  }
}

body {
  background: linear-gradient(#d9f0ff, #83c9f4, #6f73d2, #7681b3);
}

.nav-link {
  margin-left: 20px;
}

h2 {
  margin: 20px 20px 0 20px;
}
h1 {
  padding: 20px;
  text-align: center;
  font-size: 40px;
}
h6 {
  font-size: 30px;
  padding: 20px;
}
h5 {
  padding: 25px;
  font-size: 25px;
}

.dropdown-item {
  background: linear-gradient(#d9f0ff, #83c9f4, #7681b3);
  color: black;
}

.dropdown-menu {
  width: 50px;
}
img {
  border-radius: 8px;
  width: 50%;
}

.text-center {
  box-shadow: 0px 0px 10px black;
}

.logo {
  width: 100px;
}
