/*#formP {
    display: grid;
    grid-template-columns: 150px 500 150px;
    grid-template-rows: 100px 220px 150px;
    grid-template-areas: "form" " " " ", "form" " " " ";
}

form {
    grid-column-start: 1;
    grid-column-end: 12;
    display: inline-block;
}*/

#submit {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background: linear-gradient(white, rgb(81, 142, 248));
    width: 200px;
    height: 60px;
    padding: 10px;
    display: inline-block;
}

#titre {
    margin-left: 20px;
}